# heavily based on CSS from http://lesscss.org/

body {
  color: #333333;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 13px;
  line-height: 1.3em;
}

#container {
  margin: 0 auto;
  padding-left: 40px;
  width: 720px;
}

#content {
  float: left;
  padding: 30px 0 10px;
  width: 100%;
}

/*underlinemenu from: */
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.underlinemenu{
font-weight: bold;
width: 100%;
}

.underlinemenu ul{
padding: 6px 0 7px 0; /*6px should equal top padding of "ul li a" below, 7px should equal bottom padding + bottom border of "ul li a" below*/
margin: 0;
text-align: right; //set value to "left", "center", or "right"*/
}

.underlinemenu ul li{
display: inline;
}

.underlinemenu ul li a{
color: #494949;
padding: 6px 3px 4px 3px; /*top padding is 6px, bottom padding is 4px*/
margin-right: 20px; /*spacing between each menu link*/
text-decoration: none;
border-bottom: 3px solid gray; /*bottom border is 3px*/
}

.underlinemenu ul li a:hover, .underlinemenu ul li a.selected{
border-bottom-color: black;
}

h1 {
  color: #383838;
  font-size: 26px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0 5px 10px;
  padding-bottom: 0.4em;
}

h2 {
  clear: both;
  color: #324479;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 0 5px 10px;
  padding-bottom: 0.8em;
}

a {
  color: #314479;
}

p {
  padding: 0 5px;
  padding-bottom: 1.5em;
  margin-bottom: 1.6em;
}

#container pre.config {
  background-color: #E1F0FF;
  border-color: #AABBCE;
  border-style: dotted solid;
  border-width: 1px 2px;
  color: #000000;
  display: block;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

#content .code_example {
  -moz-box-shadow: 0 -4px 6px #DDDDDD;
  background-color: #444444;
  border-color: #EEEEEE #EEEEEE #DDDDDD;
  border-style: solid;
  border-width: 6px 6px 1px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  overflow: auto;
  padding: 15px 5px 5px;
  position: relative;
}

#content .code_example .code {
  color: #EEEEEE;
  float:left;
  margin: 0 15px 0 12px;
  position: relative;
  width: 210px;
  z-index: 1;
}

#content .code_example .code .comment {
  color: #BBFFBB;
}

#container .releases {
  float:left;
  width: 210px;
}

#footer {
  border-top: 1px dashed #CFCFCF;
  clear: both;
  color: #B4B4B4;
  padding: 25px 0;
  text-align: center;
}

#footer #copyright {
  color:#858585;
  text-align:center;
}
